{% extends '__base__.html' %}

{% block _script %}

<script>
function validateEmail(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email);
}

function submitForm() {
    var useremail = document.getElementById('email').value;
    var passwd0 = document.getElementById("passwd0").value;


    if (! validateEmail(useremail.trim().toLowerCase())) {
                    myalert('请输入正确的Email地址');return false;
                    {#return $form.showFormError('请输入正确的Email地址');#}
                }
    var email = useremail.trim().toLowerCase();
    $.post("/signin/",{
                    email: email,
                    passwd: CryptoJS.SHA1(email + ':' + passwd0).toString()
                },
        function(data, status){
            if (data.status == "well"){
                myalert("登陆成功");
                return location.assign('/');
            }
            {#myalert("数据：" + data.status + "\n状态：" + status);#}
            else if (data.status == 'email not exist!'){
                myalert("Email不存在");return false;
            }
            else{
                myalert("密码错误")
            }

        });
   }

function enterIn(evt){
  var evt=evt?evt:(window.event?window.event:null);//兼容IE和FF
  if (evt.keyCode==13){
  submitForm();
}
}

</script>


{% endblock %}


{% block content_section %}
            <section class="blog-content">
                <div class="container">
                    <div class="row">
                        <main class="col-md-12 " style="display: block;">
                            <article class="blog-item">
                                <div class="col-md-6 col-md-offset-2 col-lg-offset-2">
                                    <h2 class="col-md-12 col-md-offset-3">welcome to signin</h2>
                                    <form id="myForm" onkeydown="enterIn(event);">
                                        <div class="raw">

                                            <div class="col-md-12 col-md-offset-3">
                                                <div class="form-group">
                                                    <input name="email"  type="email" class="form-control" id="email" maxlength="50" required="required" placeholder="Email Address">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-md-offset-3">
                                                <div class="form-group">
                                                    <input name="passwd1"  type="password" maxlength="50" class="form-control" id="passwd0" required="required" placeholder="Your Password">
                                                </div>
                                            </div>
{#                                            <div class="col-md-3 input-group-btn">#}
{#                                                <textarea name="message" type="text" class="form-control" id="message" rows="4" required="required" placeholder="Type here message"></textarea>#}
{#                                            </div>#}
                                        </div>
                                        <div class="col-md-12 col-md-offset-3 col-lg-6">
                                            <button type="button" id="submit" name="submit" class="btn btn-black" onclick="submitForm();" >signin</button>
                                        </div>
                                    </form>
                                </div>
                            </article>
                        </main>
                    </div>
                </div>
            </section>
            <section>
                <br><br><br><br>
            </section>




{% endblock %}
