{% extends '__base__.html' %}

{% block header_start %}
            <!-- header begin -->
            <header class="page-head">
                <div class="header-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <ol class="breadcrumb">
                                    <li><a href="#">blog</a></li>
                                    <li class="active">single blog</li>
                                </ol> <!-- end of /.breadcrumb -->

                            </div>
                        </div>
                    </div> <!-- /.container -->
                </div> <!-- /.header-wrapper -->
            </header> <!-- /.page-head (header end) -->
{% endblock %}

{% block content_section %}

    <section class="blog-content">
                <div class="container">
                    <div class="row">
                        <main class="col-md-8 col-md-offset-2" style="display: block;">
                            <article class="blog-item">
                                <img class="img-responsive center-block" src="{{ blog.image }}" alt="blog-featured-image">
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">{{ blog.title }}</h3>
                                    <span class="date">may 24,2015</span>
                                    <span>{{ blog.comments }}</span>
                                </div>
                                <p>
                                    {{ blog.content }}
                                </p>
                                <div class="single-blog-page-button">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="#" class="btn blog-btn">
                                                <span><i class="fa fa-long-arrow-left"></i></span>
                                                Previous Post
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="#" class="btn blog-btn">
                                                Next Post
                                                <span><i class="fa fa-long-arrow-right"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="author">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="about-author">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <img src="{{ blog.authorimg }}" class="img-responsive center-block img-circle" alt="author">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <p>
                                                            <strong>About Author</strong>
                                                            <span class="author-name text-uppercase">{{ blog.author }}</span>
                                                        </p>
                                                        <p>
                                                            someone
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="author-contact">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="pull-left">
                                                            <span><i class="fa fa-picture-o"></i></span>
                                                            <strong>{{ blog.totoal_posts }} Total Posts</strong>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul class="author-contact-button pull-right">
                                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="comments">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>{{ blog.comments }} Comments</h3>
                                            {% for comment in comments %}
                                                <div class="cmnt-clipboard"><span class="btn-clipboard">Reply</span></div>
                                                <div class="well">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <img src="{{ comment.headimg }}" class="img-responsive center-block" alt="first-comment">
                                                        </div>
                                                        <div class="col-md-10">
                                                            <p class="comment-info">
                                                                <strong>{{ comment.name }}</strong> <span>{{ comment.datetime }}</span>
                                                            </p>
                                                            <p>
                                                                {{ comment.content }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="comment-post">
                                    <h3>Post A Comment</h3>
                                    <form method="post" >
                                        <div class="row">
                                            {% if __user__.login == false %}
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input  name="tmpname" type="text" class="form-control" id="name" required="required" placeholder="Full Name (optional)">
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="col-md-12">
                                                <textarea name="comment" type="text" class="form-control" id="message" rows="8" required="required" placeholder="Type here message"></textarea>
                                            </div>
                                        </div>

                                        <button type="submit" id="submit" name="submit" class="btn btn-black">post comment</button>
                                    </form>
                                </div>
                            </article>
                        </main>
                    </div>
                </div>
            </section>

{% endblock %}
